@page
@model Torneo.App.Frontend.Pages.Equipos.DetailsModel
@{
}
<h1>Detalle del equipo</h1>
<table class="table table-hover">
<tr>
    <th scope="col">Id</th>
    <td>@Model.equipo.Id</td>
</tr>

<tr>
    <th scope="col">Nombre</th>
    <td>@Model.equipo.Nombre</td>
</tr>

<tr>
    <th scope="col">Equipo</th>
    <td>@Model.equipo.Municipio.Nombre</td>
</tr>

<tr>
    <th scope="col">Director Técnico</th>
    <td>@Model.equipo.DirectorTecnico.Nombre</td>
</tr>

</table>
<a class="btn btn-outline-dark" asp-page="./Index">Volver</a>