@page
@model Torneo.App.Frontend.Pages.Municipios.DetailsModel
@{
}
<h1>Detalle del municipio</h1>
<table class="table table-hover">
    <tr>
        <th scope="col">Id</th>
        <td>@Model.municipio.Id</td>
    </tr>
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.municipio.Nombre</td>
    </tr>
</table>
<a class="btn btn-outline-dark" asp-page="./Index">Volver</a>